.imagemLogin {
    background-image: url('./../../assets/java-logo.png.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .linkLogin {
    text-decoration: underline;
    color: var(--blue-600)
  }
  
  .linkLogin:hover {
    color: var(--blue-900)
  }
  
  .botaolegal {
    background-color: #e01f22 !important;
  }
  
  .botaolegal:hover {
    background-color: rgb(255, 57, 31) !important;
  }